# NEXT_PUBLIC_SUPABASE_URL / VITE_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_URL="https://yqdlmmuxbseyzdbaymsy.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_ByZFOml20RCB5vuE1kRrPQ_RJ3BXJ98"
VITE_SUPABASE_URL="https://yqdlmmuxbseyzdbaymsy.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_ByZFOml20RCB5vuE1kRrPQ_RJ3BXJ98"
